@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    background-color: #a7ff9b;
}

.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.center {
    margin: auto;
    padding: 30px;
    width: 70%;
}

h1 {
    font-family: 'Bangers';
    color: #00a308;
    text-align: center;
}

h2 {
    font-family: 'Bangers';
    color: #00a308;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    font-family: 'Bangers';
    font-size: 16px;
    background-color: #5dff6a; 
    padding: 15px 32px;
    text-align: center;
    color: #00a308;
    cursor: pointer; 
}